src/main/mule/deleteAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deleteAccountFlow"
		doc:id="a70fffc3-6ce7-4dc0-b723-562cbc366b94">
		<db:delete doc:name="Delete"
			doc:id="21a28014-94f9-4dba-9d89-c370ac4bb390"
			config-ref="Database_Config">
			<db:sql><![CDATA[delete from account where accountId=:accId; ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
           accId: attributes.queryParams.account
   }]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message"
			doc:id="ffd70191-3232-4aaa-bb6c-388b0cbca568">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  message: "Account deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
