src/main/mule/updateDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="updateAccountFlow" doc:id="de4cdd84-3bbf-49af-ab91-8415b450321d" >
		<logger level="INFO" doc:name="Logger" doc:id="3915a932-392f-4bc7-a840-fdfc481df66b" message="updateAccountflow starts..........."/>
		<db:update doc:name="Update" doc:id="462cc5c7-bc4e-4f54-b49a-98b9d2b0b01f" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE account SET name  = :name,
				   phone = :mob,
				   email = :email
		     WHERE accountid = :accid;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
		accid : payload.account,
		name : payload.name,
		mob : payload.mob,
		email : payload.email
	}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="6b4c6c8d-1fab-4900-bdd3-f49a44ffb124" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  message: "Account updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="00e2d9fa-f7ca-430e-b913-01c0b7e57bc0" message="db response after transformation.............#[payload]"/>
	</flow>
</mule>
