src/main/mule/uriDeleteAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="urideleteAccountFlow" doc:id="1c2c511a-1e15-4a14-ac33-9f91f7aa7426" >
		<db:delete doc:name="Delete" doc:id="c3038b78-8f66-414e-b859-18217675c0c0" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from account where accountId=:accId; ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
           accId: attributes.uriParams.'id'
   }]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="b1fc3afb-3dbd-4755-a47e-b75284a74fc4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  message: "Account deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
